<div class="input-append">
    <input {{ attributes }} type="text" class="input-padding-large input-xlarge search-query" autocomplete="off" />
    <input type="hidden" {{ hidden_attributes }} />
    <button class="btn btn-large stock-symbol-search" type="submit">Search</button>
</div>