<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">{{ text }} <span class="caret"></span></button>
    <ul class="dropdown-menu btn-success" role="menu" aria-labelledby="dropdownMenu">
        {% for link in links %}
        <li class="white"><a class="nounderline white" href="{{ link.href }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</div>