<div class="item">

    {%- if ( ($image_slide == 'true') -%}
      <div class="image-post-slider">
          <ul>
              {%- if (render($content['field_image']) -%}
                {{ content.field_image }}
              {%- endif -%}
          </ul>  
      </div>
    {%- endif -%}

    {%- if ($image_slide == 'false') -%}
      <div class="preloader">
        <a class="bwWrapper single-image link-icon" href="{{ node_url }}">
            <img src="{%- file_create_url(node.field_image.und[0].uri -%}" alt="" >
        </a>						
      </div>
    {%- endif -%}

    {%- if (content.field_before_title) -%}

        {{ content.field_before_title }}

    {%- endif -%}

    <h6 class="title"><a href="{{ node_url }}">{{ title }}</a></h6>

    <div class="entry-meta">
        {%- if ( theme_get_setting('meta_date') == '1' ) -%}<span class="date">{%- format_date(node.created, 'custom', 'M d, Y'); ?></span>{%- endif -%}
        {%- if ( theme_get_setting('meta_comments') == '1' ) -%}<span class="comments"><a href="{{ node_url }}/#comments">{{ comment_count }} comment{%- if (comment_count != "1" ) -%}s{%- endif -%}</a></span>{%- endif -%}
    </div><!--/ .entry-meta-->

    <div class="entry-body">

  {{ teaser_sub }}

    </div><!--/ .entry-body-->

</div><!--/ .item-->