<article id="node-{{ node.nid }}" class="{{ classes }} clearfix"{{ attributes }}>

{%- if (teaser) -%}

  {%- if (image_slide == 'true') -%}
    <div class="image-post-slider">
      <ul>
        {% for img_count in range(0, $counter - 1) %}
          <li>
              <div class="preloader">
                <a class="bwWrapper single-image link-icon" href="{{ node_url }}">
                    <img src="{%- file_create_url(node.field_image.und[img_count].uri) -%}" alt="" >
                </a>						
              </div>
          </li>
         {% endfor %}
      </ul>
    </div>    
  {%- endif -%}

  {%- if (image_slide == 'false') -%}
    <div class="preloader">
      <a class="bwWrapper single-image link-icon" href="{{ node_url }}">
          <img src="{%- file_create_url($node.field_image.und[0].uri) -%}" alt="" >
      </a>						
    </div>
  {%- endif -%}

{%- endif -%}
	
{%- if (!teaser) -%}

  {%- if (image_slide == 'true') -%}
    <div class="image-post-slider">
      <ul>
        {% for img_count in range(0, counter - 1) %}
          <li>
            <div class="preloader">
              <a class="bwWrapper single-image plus-icon" href="{%- file_create_url(node.field_image.und[img_count].uri) -%}" rel="gallery">
                  <img src="{%- file_create_url(node.field_image.und[img_count].uri) -%}" alt="" >
              </a>						
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>    
  {%- endif -%}

  {%- if (image_slide == 'false') -%}
      <div class="preloader">
          <a class="bwWrapper single-image plus-icon" href="{%- file_create_url(node.field_image.und[0].uri) -%}">
              <img src="{%- file_create_url(node.field_image.und[0].uri) -%}" alt="" >
          </a>						
      </div>
  {%- endif -%}

{%- endif -%}

{%- if (content.field_before_title) -%}
    {{ content.field_before_title }}
{%- endif -%}
		
  <div class="entry">
  {{ title_prefix }}
    
  {%- if ( theme_get_setting('meta_title') == '1' ) -%}
  <h2>{{ title_attributes }}><a href="{{ node_url }}">{{ title }}</a></h2>
  {%- endif -%}
 
  {{ title_suffix }}

  {%- if (display_submitted) -%}
    <div class="entry-meta">
        {%- if ( theme_get_setting('meta_date') == '1' ) -%}<span class="date"><?php print format_date($node->created, 'custom', 'M d, Y'); ?></span><?php endif; ?>
        {%- if ( theme_get_setting('meta_author') == '1' ) -%}<span class="author"><?php echo t('By'); ?> <?php print $name; ?></span><?php endif; ?>
        {%- if ( (render($content['field_tags'])) AND (theme_get_setting('meta_tags')) == '1' ) -%}
          <span class="tag">{{ content.field_tags }}</span>
        {%- endif -%} 
        {%- if ( theme_get_setting('meta_comments') == '1' ) -%}<span class="comments"><a href="{{ node_url }}/#comments">
                {{ comment_count }} comment{%- if (comment_count != "1" ) -%}s{%- endif -%}</a></span>{%- endif -%}
    </div><!--/ .entry-meta-->
  {%- endif -%}

  <div class="content"{{ content_attributes }}>
      {# We hide the comments and links now so that we can render them later #}
      {%- hide(content.comments) -%}
      {%- hide(content.links) -%}
      {%- hide(content.field_image) -%}
      {%- hide(content.field_widget_image) -%}
      {{ content }}
  </div>

  {%- if($teaser) -%}
    <a class="button default small" href="{{ node_url }}">read more</a>
  {%- endif -%}
	
  {%- if(!teaser && module_exists('profile2')) -%}
    <div class="author-about">
        <div class="author-thumb">
            <div class="bordered">
                <div class="avatar">
                  {{ user_picture }}
                </div>
            </div><!--/ .bordered-->
        </div><!--/ .author-thumb-->
        <div class="author-entry">
            <h5>About the Author</h5>
            <p>
            {%- if (isset($profile->field_bio['und'][0]['value'])) -%}
              {{ profile.field_bio.und.[0].value }}
            {%- endif -%}
            </p>
        </div><!--/ .author-entry-->
    </div><!--/ .about-author-->
  {%- endif -%}
  </div>
  
    {# Remove the "Add new comment" link on the teaser page or if the comment
    form is being displayed on the same page. #}
    {%- if (teaser || content['comments']['comment_form'] -%}
      {%- unset(content['links']['comment']['#links']['comment-add']) -%}
    {%- endif -%}
    {# Only display the wrapper div if there are links. #}
    {%- if (content.links) -%}
    <div class="link-wrapper">
      {{ content.links }}
    </div>
  {%- endif -%}

  {{ content.comments }}
</article>