<article class="{%- theme_get_setting('portfolio_columns') -%}" data-categories="{%- content_field_portfolio_category_strip_tags -%}">
  {%- if (content.field_image) -%}
    <div class="preloader">
        <a class="bwWrapper single-image plus-icon" href="{%- file_create_url(node.field_image.und[0].uri) -%}" rel="folio" title="">
            <img src="{%- file_create_url(node.field_image.und[0].uri) -%}" alt="" >
        </a>							
    </div>
  {%- endif -%}
    <a class="project-meta" href="{{ node_url }}">
        <h6 class="title">{{ title }}</h6>
        <span class="categories">{%- replacement_sub -%}</span>
    </a>
</article>