<li> 		
    <div class="preloader">
        <a href="{{ $node_url }}" class="bwWrapper single-image">
          {%- if (render($content['field_widget_image'])): ?>  
              <img alt="" src="{%- file_create_url(node.field_widget_image.und[0].uri) -%}">
          {%- endif -%}
        </a>	
    </div>
    <div class="post-holder">
        <a href="{{ $node_url }}"><h6>{{ title }}</h6></a>
            <p>{{ teaser_sub }}</p>
        <span>{%- format_date(node.created, 'custom', 'M d, Y') -%}</span>
    </div>
</li>