{%- if($page) -%}
<div class="portfolio-controls {%- if ( authenticated ) -%}portfolio-controls-user{%- endif -%}">
  {%- if (goodnex_node_pagination(node, 'p') != NULL ) -%}
    <a class="controls-prev" href="{%- url('node/' . goodnex_node_pagination(node, 'p'), array('absolute' => TRUE)) -%}">Prev</a>
  {%- endif -%}
    <a class="controls-all" href="{{ base_url }}/portfolio">all</a>
  {%- if (goodnex_node_pagination(node, 'n') != NULL ) -%}
    <a class="controls-next" href="{%- url('node/' . goodnex_node_pagination(node, 'n'), array('absolute' => TRUE)) -%}">Next</a>
  {%- endif -%}
</div><!--/ .portfolio-controls-->	
{%- endif -%}

{%- if (image_slide == 'true') -%}
  <div class="image-gallery-slider">
      <ul>
        {% for img_count in counter -%}
          <li>
              <div class="preloader">
                <a class="bwWrapper single-image plus-icon" href="{%- file_create_url(node.field_portfolio_slider.und[img_count].uri) -%}" rel="gallery">
                    <img src="{%- file_create_url(node.field_portfolio_slider.und[img_count].uri) -%}" alt="" >
                </a>							
              </div>
          </li>
        {% endfor %}	
      </ul>
  </div>
{%- endif -%}
		
{%- if (image_slide == 'false') -%}
  <div class="preloader">
    <a class="bwWrapper single-image link-icon" href="{{ node_url }}">
        <img src="{%- file_create_url($node->field_portfolio_slider.und[0].uri) -%}" alt="" >
    </a>						
  </div>
{%- endif -%}

  {# Hide comments, tags, and links now so that we can render them later #}
  {%- hide(content.field_portfolio_slider) -%}
  {%- hide(content.field_image) -%}
  {%- hide(content.links) -%}
  {%- hide(content.field_portfolio_category) -%}
  {{ content }}

<div class="clear"></div>