<li>
  {%- if(content.field_image) -%}
  <div class="preloader">
    <a href="{{ content.field_url }}" class="bwWrapper"><img src="{%- file_create_url(node.field_image.und[0].uri) -%}"></a>
  </div>
  {%- endif -%}
  <section class="caption">
    {{ content.field_caption }}
  </section>
</li>