<?php

/**
 * @file views-view--flexslider.tpl.php
 * Contour's views template for the Flexslider view.
 *
 * Variables available:
 * - $classes_array: An array of classes determined in
 *   template_preprocess_views_view(). Default classes are:
 *     .view
 *     .view-[css_name]
 *     .view-id-[view_name]
 *     .view-display-id-[display_name]
 *     .view-dom-id-[dom_id]
 * - $classes: A string version of $classes_array for use in the class attribute
 * - $css_name: A css-safe version of the view name.
 * - $css_class: The user-specified classes names, if any
 * - $header: The view header
 * - $footer: The view footer
 * - $rows: The results of the view query, if any
 * - $empty: The empty text to display if the view is empty
 * - $pager: The pager next/prev links to display, if any
 * - $exposed: Exposed widget form/info to display
 * - $feed_icon: Feed icon to display, if any
 * - $more: A link to view more, if any
 *
 * @ingroup views_templates
 */
?>
<div class="slider">
  <div class="container">
  <div class="sixteen columns">
      <div class="flexslider">
  
          {{ title_prefix }}
  
          {%- if (title) -%}
            {{ title }}
          {%- endif -%}

          {{ title_suffix }}

          {%- if (header) -%}
          <div class="view-header">
            {{ header }}
          </div>
          {%- endif -%}

          {%- if ($exposed) -%}
            <div class="view-filters">
              {{ exposed }}
            </div>
          {%- endif -%}

          {%- if ($attachment_before) -%}
            <div class="attachment attachment-before">
              {{ attachment_before }}
            </div>
          {%- endif -%}

          {%- if ($rows) -%}
              {{ rows }}
          {%- elseif (empty) -%}
            <div class="view-empty">
              {{ empty }}
            </div>
          {%- endif -%}

          {%- if (pager) -%}
            {{ pager }}
          {%- endif -%}

          {%- if ($attachment_after) -%}
            <div class="attachment attachment-after">
               {{ attachment_after }}
            </div>
          {%- endif -%}

          {%- if ($more) -%}
            {{ more }}
          {%- endif -%}

          {%- if ($footer) -%}
          <div class="view-footer">
            {{ footer }}
          </div>
          {%- endif -%}

          {%- if ($feed_icon) -%}
            <div class="feed-icon">
              {{ feed_icon }}
            </div>
          {%- endif -%}

      </div>
    </div>
</div>
</div>