<?php

/**
 * @file views-view-list--portfolio-filters.tpl.php
 * Goodnex's list template file for the Portfolio Filters view.
 *
 * - $title : The title of this group of rows.  May be empty.
 * - $options['type'] will either be ul or ol.
 * @ingroup views_templates
 */
?>

<ul id="portfolio-filter" class="portfolio-filter clearfix">
  <li><a data-categories="*">All</a></li>
  {% for id|row in rows %}
    {{ row }}
  {% endfor %}
</ul>