<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
  "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html {{ html_attributes }}>

    <head>
        {{ head }}
        <title>{{ head_title }}</title>
        {{ styles }}
        {{ scripts }}
        <!--[if lte IE 8]>
            <script src="/core/vendor/html5shiv/html5.js" type="text/javascript"></script>
            <script src="/sites/web/packages/PIE/PIE.js" type="text/javascript"></script>
        <![endif]-->
    </head>
    <body class="body-patternbg">
        {{ page_top }}
        {{ page }}
        {{ page_bottom }}
    </body>
</html>