<ul class="unstyled">
    <li class="feature-li"><span class="feature-li-content" data-feature="1"></span></li>
    <li class="feature-li"><span class="feature-li-content" data-feature="1"></span></li>
    <li class="feature-li"><span class="feature-li-content" data-feature="1"></span></li>
    <li class="feature-li"></li>
    <li class="feature-li"></li>
    <li class="feature-li"><span class="feature-li-content" data-feature="1"></span></li>
</ul>