<ul class="unstyled">
    <li class="feature-li"><span class="feature-li-content">Selected Symbols</span></li>
    <li class="feature-li"><span class="feature-li-content">Access to Yahoo Finance</span></li>
    <li class="feature-li"><span class="feature-li-content">Access to proprietary data</span></li>
    <li class="feature-li"><span class="feature-li-content">Access to all symbols</span></li>
    <li class="feature-li"><span class="feature-li-content">Stock Data from IQ Feed</span></li>
    <li class="feature-li"><span class="feature-li-content">Unlimited Access</span></li>
</ul>